*.csv
*.smi.gz
*.fasta
*.png
*.pdf
*.csv.gz
*.npz
*.ckpt
*.zip
*.dict
main_model/data/peptides/500_fasta.fasta
main_model/data/peptides/500k/500_fasta.fasta
outsourced_models/
main_model/checkpointz
main_model/trials
